.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  font-size: small;
  text-align: left;
  padding-left: 10px;
  position:fixed;
  bottom:0;
  width:100%;
}