.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 500px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

li {
  list-style: none;
}

.App-intro {
  font-size: large;
  width: 80%;
  background-color: darkgray;
}

.App-footer {
  font-size: small;
  text-align: left;
  padding-left: 10px;
  position:fixed;
  bottom: 0;
  width:100%;
}

.Rounds-tracked {
  display: flex;
  justify-content: space-around;
}

.Rounds-tracked article {
   border: black 1px solid;
}

.Hole-form {
  width: 400px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}